body {background: url(myBackground.jpg);}

#nav-table {width:1024px;}

#nav-td {width:341px; text-align:center;}

#photo-table {width:1400px;}

#photo-td {width:466px; text-align:center;}

h1 {color:#F0FFFF; font-size: 50px; text-align:center;}

p {color:#F0FFFF; font-size: 25px;}

.center {display: block; margin-left: auto; margin-right: auto; width: 50%;}
